@page
@model Razor_RolesDemo.Pages.RegisterModel
@{
}

<h1>Register page</h1>


<form method="post">
    <label for="username-input">Username:</label>
    <br />
    <input id="username-input" type="text" placeholder="Username" asp-for="@Model.Username" />
    <br />
    <label for="password-input">Password:</label>
    <br />
    <input id="password-input" type="password" placeholder="Password" asp-for="@Model.Password" />
    <br />
    <input type="submit" value="Sign in" />
</form>